@model blog_template_practice.Models.Content

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />
    <title>Details</title>
</head>
<body>
    <p>Title: @Model.Title</p>
    <p>Author: @Model.Author</p>
    <p>Category: @Model.Category.Name</p>
    <p>@Model.PublishDate</p>
    <p>@Model.Body</p>

    @*<a href="/Content/Index/">See all blogs</a>*@

    <p>
        <a href="/Category/Index/">Return to Category List</a>
        <a href="/Category/Details/@Model.Category.Id">Return to @Model.Category.Name List</a>
    </p>

    <p>
        <a href="/Content/Delete/@Model.Id">Delete Blog</a>
        <a href="/Content/Update/@Model.Id">Update Blog</a>
    </p>


</body>

</html>
